body{
    background-color: aliceblue;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.navigationHeader{
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 24px;
}
.aboutMe{
    height: 300px;
    background-color: blueviolet;
    margin-bottom: 20px;
}
.meDescription{
    padding-top: 60px;
    color: black;
}
.projectDescription{
    color:black;
}
.projectImage{
    height: 550px;
    margin-bottom: 20px;
    background-color: blueviolet;
}

.smallProj{
    padding: 10px 10px 0px 10px;
    background-color: darkblue;
}
.contactMe{
    background-color: darkblue;
}