body{
    background-color: aliceblue;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.navigationHeader{
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 24px;
}
.aboutMe{
    width:100%;
    margin-bottom: 20px;
}
.meDescription{
    padding-top: 60px;
    color: black;
}
.projectDescription{
    color:black;
}
.projectImage{
    width: 100%;
    margin-bottom: 20px;
}
.smallProj{
    padding: 10px 10px 0px 10px;
    background-color: darkblue;
}
.smallProjImg{
    width: 100%;
}
.borders{
    margin-bottom: 20px;
    text-align: center;
    font-size: 48px;
    background-color: rebeccapurple;
    border: 5px solid gold;
}